.TabBar {
  background-color: #F6EDFF;
  overflow: hidden;
  width: 100;
  display:initial;
}


.TabBar a {
  float: left;
  color: #0B0036;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.TabBar a:hover {
  background-color: #E3CEF7;
  color: black;
}


.TabBar a.active {
  background-color: #7C42BD;
  color: white;
}
