.body
{
 background-color:  #252827;
}

.pb-cmnt-container {
  font-family: Lato;
  margin-top: 100px;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 3px solid #EEE2FA;
}

.panel panel-info
{
  border: 2px solid grey;
}
