<html>
    <head>
            <link href ="show-comment.component.css" rel="StyleSheet" type="text/css">
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
   
<div class="container">
        <div class="row">
     <div class="timeline-centered">
        
        <article class="timeline-entry">
            
            <div class="timeline-entry-inner">
                <time class="timeline-time" *ngFor="let comment of data.Comments" ><span>{{TimeToString(comment.creationTime)}}</span> <span>{{comment.date}}</span></time>
                
                <div class="timeline-icon bg-success" style="position:relative; top:10px;">
                    <i class="entypo-feather"></i>
                </div>
                
                <div class="timeline-label" *ngFor="let comment of data.Comments" style="position:relative; top:10px;">
                    <h2><a href="#">Supervisor</a> </h2>
                    <p>{{comment.text}}</p>
                </div>
            </div>
            
        </article>
        
        
        <article class="timeline-entry left-aligned">
            
            <div class="timeline-entry-inner">
                <time class="timeline-time" *ngFor="let comment of data.Comments"  ><span>{{TimeToString(comment.creationTime)}}</span> <span>{{comment.date}}</span></time>
                
                <div class="timeline-icon bg-warning">
                    <i class="entypo-suitcase"></i>
                </div>
                
                <div class="timeline-label"  *ngFor="let comment of data.Comments">
                    <h2><a href="#">Supervisor</a></h2>
                    <p>{{comment.text}}</p>
                </div>
            </div>
            
        </article>

        
       
        
        <article class="timeline-entry begin">
        
            <div class="timeline-entry-inner">
                
                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                    <i class="entypo-flight"></i>
                </div>
                
            </div>
            
        </article>
        
    </div>
        </div>
    </div>

    </body>
</html>

