<html>
    <head>
            <link href ="show-comment.component.css" rel="StyleSheet" type="text/css">
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
   
<div class="container">
        <div class="row">
            <div class="timeline-centered">
        
        <article class="timeline-entry">
            
            <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
                
                <div class="timeline-icon bg-success" style="position:relative; top:10px;">
                    <i class="entypo-feather"></i>
                </div>
                
                <div class="timeline-label" style="position:relative; top:10px;">
                    <h2><a href="#">Supervisor</a> </h2>
                    <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
                </div>
            </div>
            
        </article>
        
        
        <article class="timeline-entry left-aligned">
            
            <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
                
                <div class="timeline-icon bg-warning">
                    <i class="entypo-suitcase"></i>
                </div>
                
                <div class="timeline-label">
                    <h2><a href="#">Supervisor</a></h2>
                    <p>You have a meeting at <strong> Office</strong> Today.</p>
                </div>
            </div>
            
        </article>
        
        
       
        
        <article class="timeline-entry begin">
        
            <div class="timeline-entry-inner">
                
                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                    <i class="entypo-flight"></i>
                </div>
                
            </div>
            
        </article>
        
    </div>
        </div>
    </div>

    </body>
</html>

