<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="sign-up.component.css" rel="StyleSheet" type="text/css">
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <div class="form">

      <ul class="tab-group">
        <li class="tab" routerLinkActive="active" routerLink="/signup"><a [routerLink] = "['signup']">Sign Up</a></li>
        <li class="tab" routerLinkActive="active" routerLink="/login"><a [routerLink] = "['login']">Log In</a></li>
      </ul>

      <div>
        <div id="signup">
          <h1>Sign Up for Free</h1>

        <form action="/" method="post">

          <div class="top-row">
            <div class="field-wrap">
              <input type="text" placeholder="First Name" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <input type="text" placeHolder="Last Name" required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <input type="email"required placeholder="Email Address" autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <input type="password"required  placeholder="Set a Password "  autocomplete="off"/>
          </div>

             <button type="submit" class="button button-block">Get Started</button>

          </form>

        </div>


      </div>

     </div>
  </body>
</html>
