<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="profile-page-edit.component.css" rel="StyleSheet" type="text/css">
    </head>
    <body>

      <div class = "card" >

         <div class="img">
            <img src="image.jpg" alt="Avatar">
         </div>
      <form action="">
        <div class="content">


            <label for="fname"style="margin-left: 5px; position: relative;top:150px;">First Name and Last Name</label>
            <input type="text" id="fname" name="name" placeholder="Your name..">

            <label for="email" style="margin-left: 5px; position: relative;top:200px;">Email</label>
            <input type="email" id="email" name="email" placeholder="Email">

            <label for="pnumber"style="margin-left: 5px; position: relative; top:250px;">Phone Number</label>
            <input type="tel" id="pnumber" name="pnumber" placeholder="Phone Number">

        </div>
      </form>
        <button type="button" input type="submit" class="btn btn-primary btn-lg btn-block">Save Changes</button>
      </div>
    </body>
</html>
