<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
      <div class="container" style="display: grid">
        <h1>Edit Card</h1>
        <form style="width:50%;display: grid" #EditForm="ngForm" (ngSubmit) = 'onSubmit()'>
          <div class="form-group">
              <label for="course">Course</label>
              <select class="form-control" ngModel aria-selected="card.lesson.title" name="CourseList" id="course"  required>
                <option *ngFor="let lesson of courses" value="lesson.title">{{lesson.title}}</option>
              </select>
          </div>
          <h3>ِStart Time</h3>
        <div class="row" >
          <div class="col">
            <label for="startTime">Hour(s) </label>
            <input type="number" ngModel class="form-control" name="StartTimeHour" id="startTime" min="0" max="23">
         </div>
            <div class="col">
                <label for="startTime">Minute(s) </label>
                <input type="number" ngModel class="form-control" name="StartTimeMin" id="startTime" min="0"max="59"> <!--input type can be changed accordingly-->
          </div>
        </div>

        <h3>ِDuration</h3>
        <div class="row">
          <div class="col">
             <label for="duration">Hour(s) </label>
             <input type="number" ngModel class="form-control"  name="DurationHour" id="duration" min="0" max="23" required>
          </div>
          <div class="col">
              <label for="duration">Minute(s) </label>
              <input type="number" ngModel class="form-control" name="DurationMin" id="duration"min="0" max="59" required><!--input type can be changed accordingly-->
          </div>
        </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" ngModel class="form-control" name="Description" id="description" >
          </div>

         <div class="row">
           <div class ="col">
              <label for="done">IsDone</label>
              <div>
              <input type="checkbox" ngModel id="done" name="done" disabled>
            </div>
           </div>

           <div class= "col">
              <label for="editable">Editability</label>
              <div>
              <input type="checkbox" ngModel id="editable" name="editable"disabled>
              </div>
           </div>

        </div>

         <div class="row">
            <div class ="col">
                <label for="expired">IsExpired</label>
                <div>
                    <!-- [(ngModel)]="checkedStatus" --> <!--check the status box-->
                <input type="checkbox" ngModel id="expired" name="expired" disabled>
                </div>
            </div>

            <div class= "col">
                <label for="supervisorCreated">CreatedBySupervisor</label>
                <div>
                <input type="checkbox" ngModel id="supervisorCreated" name="supervisorCreated" disabled>
                </div>
            </div>

          </div>


          <button type="submit" class="btn btn-success">Edit Card</button>
          <button type="button" class="btn btn-danger" (click) = 'onDelete()'>Delete</button>
          <button type="button" class="btn btn-warning" (click) = 'onCancel()'>Cancel</button>
        </form>
    </div>
    </body>
  </html>
