
body {
  margin: 0;
}

.sidebar {
  float: right;
  background-color: #F4ECFC;
/* Sidebar Background */
  width: 200px;
/* Width of side bar */
  height: 900px;
  padding-top: 0px;
/* Padding above the header */
  font-family: helvetica;
/* Font for the sidebar */
}

.sidebar a {
  text-decoration: none;
/* Removes the underline from links. */
  /* color: #0B0036;
Text color of the menu items */
}
.sidebar ul {
  line-height: 40px;
  overflow: hidden;
  margin-left: 0;
  padding-left: 0;
}
.sidebar ul li.listItemA a
{
  color: #0B0036;
}
.sidebar ul li.listItemA {
  background-color: #F4ECFC;
/* Background colour of the menu items. */
}
.sidebar ul li.listItemA:hover
{
  background-color: #7C42BD;
}
.sidebar ul li.listItemA a:hover
{
  color: white;
}

.listItemA {
  text-align: center;
}
