<html>

<head>
    <link href="class-list.component.css" rel="StyleSheet" type="text/css">
</head>

<body>
<div class = "Menu">
   <ul id = menu >
    <div class = "StudentDrop">
     <li><a href="#">Class0</a>
      <ul>
          <li><a href="">Student 1</a></li>
          <li><a href="">student 2</a></li>
          <li><a href="">student 3</a></li>
      </ul>
     </li>
     <li><a href="#">Class1</a>
      <ul>
          <li><a href="">Student 1</a></li>
          <li><a href="">student 2</a></li>
          <li><a href="">student 3</a></li>
      </ul>
     </li>
     <li><a href="#">Class2</a>
      <ul>
          <li><a href="">Student 1</a></li>
          <li><a href="">student 2</a></li>
          <li><a href="">student 3</a></li>
      </ul>
     </li>
     <li><a href="#">Class3</a>
      <ul>
          <li><a href="">Student 1</a></li>
          <li><a href="">student 2</a></li>
          <li><a href="">student 3</a></li>
      </ul>
     </li>
     <li><a href="#">Class4</a>
      <ul>
          <li><a href="">Student 1</a></li>
          <li><a href="">student 2</a></li>
          <li><a href="">student 3</a></li>
      </ul>
     </li>
     <li><a href="#">Class5</a>
      <ul>
          <li><a href="">Student 1</a></li>
          <li><a href="">student 2</a></li>
          <li><a href="">student 3</a></li>
      </ul>
     </li>
     <li><a href="#">Class6</a>
      <ul>
          <li><a href="">Student 1</a></li>
          <li><a href="">student 2</a></li>
          <li><a href="">student 3</a></li>
      </ul>
     </li>
     <li><a href="#">Class7</a>
      <ul>
          <li><a href="">Student 1</a></li>
          <li><a href="">student 2</a></li>
          <li><a href="">student 3</a></li>
      </ul>
     </li>
     <li><a href="#">Class8</a>
      <ul>
          <li><a href="">Student 1</a></li>
          <li><a href="">student 2</a></li>
          <li><a href="">student 3</a></li>
      </ul>
     </li>
     <li><a href="#">Class9</a>
      <ul>
          <li><a href="">Student 1</a></li>
          <li><a href="">student 2</a></li>
          <li><a href="">student 3</a></li>
      </ul>
     </li>
     <li><a href="#">Class10</a>
      <ul>
          <li><a href="">Student 1</a></li>
          <li><a href="">student 2</a></li>
          <li><a href="">student 3</a></li>
      </ul>
     </li>
    </div>
   </ul>
</div>

</body>

</html>
