<html>

<head>
    <link href="class-list.component.css" rel="StyleSheet" type="text/css">
</head>
<body>
    <div class="sidebar">
        <ul class = "class-list">
            <li *ngFor = "let ClassItem of data.Classes" class="listItemA">
                <a [routerLink]="[ClassItem.id]">
                    <app-class-detail [ClassItem] = "ClassItem">
                    </app-class-detail>
                </a>
            </li>
        </ul>
        <button class="btn btn-primary" [routerLink] = "['addClass']">+</button>
    </div>
    <router-outlet></router-outlet>
</body>
</html>
