<html>

<head>
    <link href="class-list.component.css" rel="StyleSheet" type="text/css">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li class="listItemA"><a href="#">Class1</a></li>

            <li class="listItemA"><a href="#">Class2</a></li>

            <li class="listItemA"><a href="#">Class3</a></li>

            <li class="listItemA"><a href="#">Class4</a></li>

            <li class="listItemA"><a href="#">Class5</a></li>
        </ul>
    </div>
</body>
</html>
