<html>
  <head>
    <link href ="card.component.css" rel="StyleSheet" type="text/css">
  </head>


  <body>
      <div class = "card" [ngStyle]="{'height.px': CalculateHeight()}" (click) = 'onSelect()'>
          <div class="content">
           <p id = "name" (click) = 'onSelect()'>
             {{Card.lesson.title}}
           </p>
           <p id = "time">
             {{Card.duration.Hours}}
             <span>
               :
             {{Card.duration.Minutes}}
             </span>
           </p>
          </div>
          <div class = "shape" [ngStyle]="{'background-color': Card.lesson.color }">
          </div>
        </div>
  </body>
</html>
