
.card
{
  width : 100px;
  height : 150px;
  background :#FAF7FC;
  border: 2px solid #EEE2FA;
  border-left: 6px solid red;
  border-radius : 10px;
  text-align:center;
  font-size:20px;
  /* padding:50% 0; */
  position: middle;

}

/* .oval
{
  width : 3px;
  height : 200 px;
  background: red;
  border-radius: 50%
} */
