
<html>
  <head>
    <link href ="card.component.css" rel="StyleSheet" type="text/css">
  </head>


  <body>
      <div class = "card" [ngStyle]="{'height': Card.duration.Hours + '50px'}">
          <div class="content">
           <p id = "name">
             {{Card.lesson.Name}}
           </p>
           <p id = "time">
             {{Card.duration.Hours}}
             <span>
               :
             {{Card.duration.Minutes}}
             </span>
           </p>
          </div>
          <div class = "shape">
          </div>
        </div>
  </body>
</html>
