body
{
   background-color: #FAF6FE;
}
p
{
   text-decoration: underline;
   text-decoration-color: purple;
   text-underline-position: below under;
   text-decoration-style: solid;
}
img {
  border-radius: 50%;
  position: relative;
  left: 210px;
  top:50px;
}

.card
{
  width : 490px;
  height: 600px;
  background :#FFFFFF;
  border: 1px solid #666666;
  border-radius : 10px;
  position: relative;
  left: 500px;
  top:50px;

}

#name
{
  position: relative;
  text-align:center;
  font-size:25px;
  font-family: Arial, Helvetica, sans-serif;
  top:200px;
}
#email
{
  position: relative;
  text-align:center;
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  top:250px;
}
#number
{
  position: relative;
  text-align:center;
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  top:300px;
}
 .btn
  {
      background-color:#7C42BD;
      position: relative;
      top:330px;
      width:50%;
      left: 120px;
  }
