<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="profile-page.component.css" rel="StyleSheet" type="text/css">
    </head>
    <body>

      <div class = "card" >

         <div class="img">
            <img src="image.jpg" alt="Avatar">
         </div>

        <div class="content">
         <p id = "name" >
           Diego Luna
         </p>
         <p id = "email">
           luna@gmail.com
         </p>

         <p id = "number">
           +574648373837
         </p>

        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Edit</button>
      </div>



    </body>
</html>

