

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="login-page.component.css" rel="StyleSheet" type="text/css">
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>

  <body>
      <div class="form">

          <ul class="tab-group">
            <li class="tab" routerLinkActive="active" routerLink="/signup"><a [routerLink] = "['signup']">Sign Up</a></li>
            <li class="tab" routerLinkActive="active" routerLink="/login"><a [routerLink] = "['login']">Log In</a></li>
          </ul>

          <div>
            <div id="login">
              <h1>Welcome Back!</h1>

              <form  #LoginForm="ngForm" (ngSubmit)="onSubmit(LoginForm)">

                <div class="field-wrap">
                <input type="email"required placeholder="Email Address" autocomplete="off" ngModel name = 'email'/>
              </div>

              <div class="field-wrap">
                <input type="password"required placeholder="Password" autocomplete="off" ngModel name = 'password'/>
              </div>

              <p class="forgot"><a>Forgot Password?</a></p>
               <!-- ng if notif alert -->
              <button type="submit" class="button button-block">Log In</button>

              </form>

            </div>

          </div>

    </div>

  </body>
</html>




