<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="text-input.component.css" rel="StyleSheet" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <form  #AddPost="ngForm" #Attach="ngForm" (ngSubmit)="onSubmit(AddPost)" (ngSubmit)="onAttach(Attach)">
      <div class="panel-footer" style="top:300px; left:300px;">
          <div class="input-group">
              <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." required style ="height:40px;" />
              <span class="input-group-btn">
                <a href="#" type="Submit" class="btn btn-info btn-md">
                  <span class="glyphicon glyphicon-send"></span>
                </a>
              </span>
              <span class="input-group-btn">
                <a href="#" type="Attach" class="btn btn-success btn-md">
                  <span class="glyphicon glyphicon-paperclip"></span>
                </a>
              </span>
          </div>
      </div>
    </form>
  </body>
</html>
