<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="text-input.component.css" rel="StyleSheet" type="text/css">
  </head>
  <body>
      <div class="card-footer">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
            </div>
            <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
             <div class="input-group-append">
               <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
             </div>
          </div>
        </div>
  </body>
</html>
