<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href= "day.component.css" rel="StyleSheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>

<div class="container" style="padding-right:0px; padding-left:0px;">
  <table class="table">
    <thead>
      <tr>
        <th>Days</th>
      </tr>
    </thead>
    <tbody>
      <ul *ngFor= "let card of DayColumn.cards">
         <tr>
          <td data-column="Days" >
            <app-card [Card]="card">
            </app-card>
          </td>
         </tr>
    </ul>
    </tbody>
  </table>
  </div>
</body>
</html>
