<html>
  <head>
    <link href= "add-card-form.component.css" rel="StyleSheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <h1>Add Card</h1>
      <form>
        <div class="form-group">
          <label for="name">Lesson Name</label>
          <input type="text" class="form-control" id="name" required>
        </div>

        <div class="form-group">
          <label for="duration">Lesson Duration</label>
          <input type="text" class="form-control" id="duration">
        </div>

        <button type="submit" class="btn btn-success">Add Card</button>
        <button type="button" class="btn btn-danger"[routerLink] = "['/Classes', classId, studentid, 'TimeTable']">Cancel</button>

      </form>
  </div>
  </body>
</html>
