table {
  width: 750px;
  height: 600px;
	border-collapse: collapse;
  margin-right:10px;
  margin-left:120px;
  position: relative;
  top : -110px;

	}


/* Zebra striping */
tr:nth-of-type(odd) {
	background: #FEFCFF;
	}

th {
	background: #FEFCFF;
    color: #12005E;
    text-align: center;
	font-weight: bold;
	}

td, th {
	padding: 10px;
	border: 2px solid #EEE2FA;
	text-align: center;
	font-size: 18px;
	}

/*
Max width before this particular table gets nasty
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table {
	  	width: 100%;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 2px solid #EEE2FA; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 2px solid #EEE2FA;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}
