.container
{
	background-color: #FEFCFF;
}
.list-group-item
{
  background-color: #FEFCFF;
}
.btn
{
 width:100px;
 height:50px;
 background-color:#12005E;
 border: none;
 color: white;
 text-align: center;
 font-size: 30px;
}

.btn:hover {
 background-color:#7C42BD;
}
