<html>
  <head>
    <link href="table.component.css" rel="StyleSheet" type="text/css">
  </head>

  <body>

    <table>
      <thead>
        <tr>
          <th>Sat</th>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thr</th>
          <th>Fri</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-column="Sat" style="padding-bottom: 500px"></td>
          <td data-column="Sun"></td>
          <td data-column="Mon"></td>
          <td data-column="Tue"></td>
          <td data-column="Wed"></td>
          <td data-column="Thr"></td>
          <td data-column="Fri"></td>
        </tr>

        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
      </tbody>
    </table>
  </body>

</html>
