.TopBar {
  background-color: #12005E;
  overflow: hidden;
}


.TopBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.TopBar a:hover {
  background-color: #ddd;
  color: black;
}


.TopBar a.active {
  background-color: #7C42BD;
  color: white;
}

#LogOut
{
   float: right;
}
