<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name ="viewport" content="width = device-width, initial-scale = 1">
    <link href="header.component.css" rel="StyleSheet" type="text/css">
    <title>Welcome</title>
  </head>
  <body>
      <div class="TopBar">
          <a class="active" href="#Profile">Profile</a>
          <a href="#Classes">Classes</a>
          <a href="#Post">Post</a>
          <div id = "LogOut">
            <a href="#Logout">Logout</a>
          </div>
      </div>

  </body>
</html>
